* {
    margin: 0;
    padding: 0;
}

.homepage {
    display: grid;
    grid-template-columns: repeat(8, 146.8px);
    grid-template-rows: repeat(8, 150px);
    grid-gap: 7px;
    margin: 20px;
}

header {
    background-color:antiquewhite;
    grid-row: 1 / 2;
    grid-column: 1 / 9;
}